name: CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build with Octopilot
              uses: octopilot/actions/octopilot@main
              with:
                  command: build
                  args: --force --platform linux/amd64
